footer {
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: linear-gradient(rgba(200, 150, 100, .1), rgb(205,171,143), rgb(205,171,143), rgb(205,171,143), rgb(205,171,143), rgb(205,171,143), rgb(205,171,143));
    height: 90px;
    padding-top: 10px;
    color: black;
}

p {
    font-size: .8rem;
}

p#name {
    font-size: 1.0rem;
}