header {
    padding: 40px 0 20px 0;
    text-align: center;
    background-image: url(../images/Art%20splotches.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 200px;
}

header #header{
    width: 350px;
    height: 45px;
    background: rgb(216, 76, 106);
    color: white;
    border-radius: 12px;
}