* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    background: white;
    font-family: 'Handlee', cursive;
    color: #93572D;
}

main {
    margin: 10px auto 150px auto;
    width: 600px;
}

main p {
    font-size: 1.0rem;
    text-align: center;
}

main h2 {
    margin: 10px 0 0 0;
    font-size: 1.1rem;
    font-weight: bold;
}

div#me {
    width: 100%;
    text-align: center;
}

img {
    min-width: 300px;
    height: 300px;
    margin: 10px;
}

body {
    margin: 0 auto;
}

h2.about {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

::-webkit-scrollbar {
    width: 7px;
}

::-webkit-scrollbar-track {
    opacity: 100;
}

::-webkit-scrollbar-thumb {
    background: darkgray;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: black;
}