* {
    margin: 0 auto;
    box-sizing: border-box;
}

ul.responsive {
    display: none;
}

ul.topnav {
    display: block;
    width: 100%;
    background: rgb(146, 114, 118);
    padding: 15px 30px 15px 30px;
    text-align: center;
}

ul li a {
    text-decoration: none;
    list-style-type: none;
    font-weight: bold;
    color: rgb(65, 43, 61);
}

ul li {
    list-style-type: none;
}

button {
    background: none;
    color: #93572D;
    font-weight: bolder;
    font-size: 1.2rem;
    position: fixed;
    right: 0;
    top: 0;
    border: none;
    height: 30px;
}

@media only screen and (min-width: 800px) {
    button {
        display: none;
    }

    ul#topnav {
        display: inline-flex;
        width: 100%;
        margin: 0 auto;
        align-content: space-around;
        text-align: center;
    }

    ul#topnav li {
        width: 200px;
        height: 30px;
        text-align: center;
        margin: 0 auto;
        line-height: 30px;
    }

    ul#topnav li:hover {
        background: rgb(194, 0, 0);
        border-radius: 0 0 10px 10px;
    }

    ul#topnav li a {
        justify-content: center;
    }

    ul#topnav li.active {
        background: rgb(194, 0, 0);
        border-radius: 0 0 10px 10px;
    }

    ul#topnav li.active a{
        color: white;
    }

    ul#topnav li:hover a{
        color: white;
    }
}